* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/****************************************************/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E5E5E5;
    overflow-x: hidden;
}


/***************************************************/


/* TOP-BAR */

#top-bar {
    background: #E4811C;
    font-size: 12px;
    color: #E5E5E5;
}

#top-bar #features .feature {
    padding: 5px;
}

#top-bar #services .service {
    padding: 5px 0px;
}

#top-bar #services .service ul li {
    display: inline;
    list-style: none;
    cursor: pointer;
}

#top-bar #services ul li:not(:last-child) {
    border-right: 1px solid #FFF;
    margin-right: 5px;
}


/* /TOP-BAR */


/* HEADER */

.form-control:focus {
    color: #282828;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

#language img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#language span {
    font-weight: bold;
    color: #282828;
}

#language a:hover {
    text-decoration: none;
}

.dropdown-toggle {
    font-size: 18px;
    color: #282828;
    border-color: #E4811C;
}

.dropdown-toggle:hover {
    color: #E4811C;
    text-decoration: none;
}

.dropdown-toggle {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn-warning {
    width: 120px;
    background-color: #E4811C;
    color: #FFF;
    border-color: #E4811C;
}

.btn-warning:hover {
    background-color: #d87f26;
    color: #FFF;
    border-color: #d87f26;
}

.btn-warning:focus {
    background-color: #d87f26;
    color: #FFF;
    border-color: #d87f26;
    box-shadow: 0 0 0 0.2rem rgba(228, 129, 28, 0.5);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    background-color: #d87f26;
    color: #FFF;
    border-color: #d87f26;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: -35px;
    transform: translate3d(0px, -66px, 0px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#cart a {
    color: #282828;
    font-size: 18px;
}

#cart a:hover {
    color: #E4811C;
    text-decoration: none;
}

#cart a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

#nav-container {
    background-color: #E4811C;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #FFF;
    color: #E4811C;
}

.navbar-light .navbar-nav .nav-link {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #FFF;
}

#cat-container {
    display: none;
}

#sub-category ul {
    list-style-type: none;
}

#sub-category ul li a {
    color: #282828;
}

#sub-category ul li a:hover {
    color: #E4811C;
    text-decoration: none;
}

#sub-brands .brand {
    padding: 10px;
    border: 1px solid #282828;
}

#sub-brands .brand:hover {
    border: 1px solid #E4811C;
}

#cat-container {
    left: 189px;
}


/* /HEADER */


/* MAIN */


/* SLIDER */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container .swiper-slide a {
    cursor: pointer;
}

.swiper-container .swiper-slide img {
    width: 100%;
    height: 500px;
}

.swiper-container .slider-arrow {
    color: #E4811C;
}

.swiper-container .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #E4811C;
}


/* /SLIDER */


/* /TOP CATEGORIES */

.top {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.CATEGORIES {
    background-color: white;
    padding: 20px;
    position: relative;
}

.CATEGORIES a {
    color: black;
    font-size: 15px;
}

.CATEGORIES h3 {
    margin-top: 10px;
}

.CATEGORIES a:hover {
    color: black;
}

.TopCtegories .card {
    background-color: white;
    border: none;
}

.TopCtegories .card:hover {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin-right: 10px;
    transform: scale(1.05);
}

.TopCtegories .card p {
    text-transform: capitalize;
}

.TopCtegories .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

#top-cat {
    background-color: #D4D2D4;
}

#top-cat a:hover {
    text-decoration: none;
}


/* /TOP CATEGORIES */

#newArrival {
    background-color: rgb(169, 169, 169);
    position: relative;
    padding: 20px;
}


}
#newArrival .h3 {
    margin-top: 5px;
}
#newArrival .a {
    color: black;
    font-size: 15px;
}
#newArrival a:hover {
    color: black;
}
.product-grid {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 4px solid rgba(255, 255, 255, 0.678);
    margin-top: 1px;
}
.product-grid:before {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover:before {
    background-color: rgba(0, 0, 0, 0.05);
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a {
    display: block;
}
.product-grid .product-image img {
    width: 100%;
    height: auto;
}
.product-discount-label {
    color: rgb(231, 136, 12);
    background-color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 12px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.product-grid .social {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
.product-grid .social li {
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
}
.product-grid .social li:nth-child(2) {
    transition-delay: 0.05s;
}
.product-grid .social li:nth-child(3) {
    transition-delay: 0.13s;
}
.product-grid .social li:nth-child(4) {
    transition-delay: 0.16s;
}
.product-grid:hover .social li {
    opacity: 1;
    transform: translateY(0);
}
.product-grid .social li a {
    color: #000;
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}
.product-grid .social li a:hover {
    color: rgba(255, 255, 255, 0.767);
    background-color: orange;
}
.product-grid .product-content {
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;
}
.product-grid .title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.product-grid .title a {
    color: #000;
}
.product-grid .title a:hover {
    color: #fa8231;
}
.product-grid .price {
    color: #fa8231;
    font-size: 18px;
    font-weight: 600;
}
.product-grid .price span {
    color: #777;
    margin: 0 0 0 5px;
    font-weight: 300;
    text-decoration: line-through;
    display: inline-block;
}
@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}
.pocial {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: red;
    font-family: verdana;
    padding: 5px;
    border-radius: 5px;
    animation: new .5s linear infinite;
    margin-top: -50px;
}
.pocial a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
@keyframes new {
    0% {
        transform: scaleX(1);
    }
    
    50% {
        transform: scaleX(.95);
    }
    
    100% {
        transform: scaleX(1);
    }
}

/* ads top sale */
#ads {
    text-align: left;
}
#topsale {
    background-color: rgb(169, 169, 169);
    padding: 20px;
}
#topsale .h3 {
    margin-top: 5px;
}
#topsale .a {
    color: black;
    font-size: 15px;
}
#topsale a:hover {
    color: black;
}
.style {
    width: 250px;
    margin-right: 10px;
}
.product-grid {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 4px solid rgba(255, 255, 255, 0.678);
    margin-top: 1px;
}
.product-grid:before {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover:before {
    background-color: rgba(0, 0, 0, 0.05);
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a {
    display: block;
}
.product-grid .product-image img {
    width: 100%;
    height: 200px;
}
.product-discount-label {
    color: rgb(231, 136, 12);
    background-color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 12px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.product-grid .social {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
.product-grid .social li {
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
}
.product-grid .social li:nth-child(2) {
    transition-delay: 0.05s;
}
.product-grid .social li:nth-child(3) {
    transition-delay: 0.13s;
}
.product-grid .social li:nth-child(4) {
    transition-delay: 0.16s;
}
.product-grid:hover .social li {
    opacity: 1;
    transform: translateY(0);
}
.product-grid .social li a {
    color: #000;
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}
.product-grid .social li a:hover {
    color: rgba(255, 255, 255, 0.767);
    background-color: orange;
}
.product-grid .product-content {
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;
}
.product-grid .title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.product-grid .title a {
    color: #000;
}
.product-grid .title a:hover {
    color: #fa8231;
}
.product-grid .price {
    color: #fa8231;
    font-size: 18px;
    font-weight: 600;
}
.product-grid .price span {
    color: #777;
    margin: 0 0 0 5px;
    font-weight: 300;
    text-decoration: line-through;
    display: inline-block;
}
@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}
.pocial {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: red;
    font-family: verdana;
    padding: 5px;
    border-radius: 5px;
    animation: new .5s linear infinite;
    margin-top: -50px;
}
.pocial a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
@keyframes new {
    0% {
        transform: scaleX(1);
    }
    
    50% {
        transform: scaleX(.95);
    }
    
    100% {
        transform: scaleX(1);
    }
}

/* deal of the day*/

/*cat 1*/
.Electronics {
    padding: 20px;
    position: relative;
    width: 400px;
}
.Electronics a {
    color: black;
    font-size: 15px;
}
.Electronics h3 {
    margin-top: 10px;
}
.Electronics a:hover {
    color: black;
}

/*/cat1*/

/* CAT3 */
.cat-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
    border-top: 2px solid #E4811C;
    border-left: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: auto;
}

/* title */
.block-head {
    padding: 15px 20px;
    border-bottom: 1px solid #eaeaea;
    background: #fbfbfb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.block-head .block-title {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
}
.block-title div a {
    color: #212529;
    font-size: 16px;
}

/* /title */

/* owl prev-next */
.owl-carousel .owl-nav button.owl-prev {
    left: -10px;
    top: 40%;
}
.owl-carousel .owl-nav button.owl-next {
    right: -10px;
    top: 40%;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: #5a88ca;
    border-color: #5a88ca;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    outline: none;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #eaeaea;
    color: #666666;
    background-color: white;
    line-height: 18px;
    display: inline-block;
    border-radius: 90%;
    font-size: 1;
}
.owl-theme .owl-dots .owl-dot {
    outline: none;
}

/* /owl prev-next */
.owl-carousel .owl-item .product {
    float: left;
    margin: 8px 28px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    overflow: hidden;
    list-style: none;
}
.owl-carousel .owl-item .product .product-container {
    overflow: hidden;
    position: relative;
    padding-bottom: 57px;
}
.owl-carousel .owl-item .product .product-thumb {
    position: relative;
}
.owl-carousel .owl-item .product .product-thumb a.product-img {
    position: relative;
    display: block;
    margin: 0 auto;
}
.owl-item a {
    color: #333;
    text-decoration: none;
}
.owl-item a:hover,
a:focus,
a:active {
    color: #5a88ca;
    text-decoration: none;
}
.owl-item .product .btn-quick-view {
    width: 42px;
    height: 42px;
    background: #5a88ca;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-image: url("../images/eye icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    border-radius: 90%;
    opacity: 0;
}
.product .product-status {
    position: absolute;
    left: 0;
    top: 0;
    height: 17px;
    color: #fff;
}
.product .product-status .new {
    background: #ffc000;
}
.product .product-status span {
    float: left;
    height: 17px;
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.product .product-status .sale {
    background: #ff4318;
}
.product .product-right {
    background-color: white;
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: -65px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-out 0s !important;
    z-index: 2;
    overflow: hidden;
}

/* PRIC */
.product-price {
    font-weight: bold;
    color: #ffb424;
}
.product .product-price-old {
    padding-left: 15px;
    color: #999999;
    font-size: 12px;
    text-decoration: line-through;
}

/* /PRIC */

/* STAR */
.product .product-star {
    font-size: 12px;
    color: #ccc;
}

/* /STAR */

/*  wishlist and comparre   */
.product .btn-add-wishlist {
    transition: all 1s;
    width: 20px;
    height: 34px;
    background: url("../images/wishlist-icon.png") no-repeat left center;
    font-size: 0px;
    float: left;
    margin-right: 15px;
}
.product .btn-add-wishlist:hover {
    background: url("../images/wishlist-icon.png") no-repeat right;
}
.product .btn-add-comparre {
    transition: all 1s;
    width: 18px;
    height: 34px;
    background: url("../images/compare-icon.png") no-repeat left center;
    font-size: 0px;
    float: left;
    margin-right: 15px;
}
.product .btn-add-comparre:hover {
    background: url("../images/compare-icon.png") no-repeat right;
}

/*  /wishlist and comparre   */

/* button buy - cart */
.product .button-radius {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 1px;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0;
    color: #666666;
    border-radius: 6px;
    transition: all 1s ease;
    font-size: 14px;
}
.product .button-radius:hover {
    padding-left: 20px;
    padding-right: 40px;
    color: #fd7400;
}
.product .button-radius .icon {
    transition: all 1s ease-out;
    position: absolute;
    top: 2px;
    margin-left: 28px;
    overflow: hidden;
}
.product .button-radius:hover .icon {
    left: 100%;
    margin-left: -31px;
}
.product .btn-add-cart .icon:before {
    content: ' ';
    background-image: url("../images/cart-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.product .button-radius .icon:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #5a88ca;
    text-align: center;
    line-height: 26px;
    float: left;
    transition: all 1s ease-out;
}

/* /button buy - cart */
.owl-carousel .owl-item :hover .product .product-right {
    bottom: 1px;
}
.product .product-container:hover .product-thumb .product-img:before {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-out 0s;
    background: rgba(0, 0, 0, 0.2);
}
.product .product-thumb a.product-img:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
}
.product .product-container:hover .btn-quick-view {
    opacity: 1;
}

/* BANNER ADDS */
.block-banner {
    margin: 0 0 30px 0;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}
.block-banner :hover img {
    opacity: 0.9;
    transition: all 0.5s;
    transform: scale(1.05);
}

/* /BANNER ADDS */

/*cat 4*/
.Beauty-Fragrance {
    padding: 20px;
    position: relative;
    width: 400px;
}
.Beauty-Fragrance a {
    color: black;
    font-size: 15px;
}
.Beauty-Fragrance h3 {
    margin-top: 10px;
}
.Beauty-Fragrance a:hover {
    color: black;
}

/* /cat 4 */

/* PRODUCTS RECOMMENDED */
.demo {
    padding: 45px 0;
    background-color: white;
}
.product-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}
.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative
}
.product-grid2 .product-image2 a {
    display: block
}
.product-grid2 .product-image2 img {
    width: 100%;
    height: auto
}
.product-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
}
.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0
}
.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}
.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1
}
.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}
.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}
.product-grid2:hover .social li {
    transform: translateX(0)
}
.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}
.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}
.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}
.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}
.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}
.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}
.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1
}
.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}
.product-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}
.product-grid2:hover .add-to-cart {
    bottom: 0
}
.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}
.product-grid2:hover .product-new-label {
    opacity: 0
}
.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center
}
.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}
.product-grid2 .title a {
    color: #303030
}
.product-grid2 .title a:hover {
    color: #3498db
}
.product-grid2 .price {
    color: #303030;
    font-size: 15px
}
@media screen and (max-width: 990px) {
    .product-grid2 {
        margin-bottom: 30px
    }
}

/* /PRODUCTS RECOMMENDED */

/* populer-search */
.populer-product {
    bottom: 0px !important;
}
.populer-container {
    padding-bottom: 120px !important;
}
<<<<<<< Updated upstream
/* /populer-search */

/**** KIDS&TOYS****/
.KRIDS {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cards-container {
    background-color: white;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 10%);
    border-left: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: auto;
}
.TOYS a {
    color: black;
    font-size: 15px;
    float: right;
}
.TOYS h3 {
    margin-top: 10px;
}
.TOYS a:hover {
    color: black;
}
.cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.cards-container .card {
    background-color: white;
    border: 1px solid #999999;
    width: 23%;
}
.cards-container .card:hover {
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin-right: 10px;
    transform: scale(1.05);
}
.cards-container .card h3 {
    font-size: 1.5rem;
    font-family: bold;
    margin-left: 10px;
}
.cards-container .card p {
    font-size: .8rem;
}
.cards-container .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}
#baby-toys {
    background-color: #D4D2D4;
}
#baby-toys:hover {
    text-decoration: none;
}

/* PRIC */
.product-price {
    font-weight: bold;
    color: #ffb424;
}
.card .product-price-old {
    padding-left: 20px;
    color: #999999;
    font-size: 12px;
    text-decoration: line-through;
}

/* /PRIC */

/* STAR */
.card .product-star {
    font-size: 12px;
    color: #ccc;
}

/* /STAR */

/*  wishlist    */
.cards-container .card .product-button .icons {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 80px;
}
.cards-container .card .product-button .icons a {
    =======>>>>>>>Stashed changes font-size: 40px;
    color: #ffb424;
}
.cards-container .card .product-button .icons a:hover {
    content: '';
    color: gray;
    width: 60px;
    ;
    height: 60px;
    border-radius: 50%;
    background-color: #ffb424;
    text-align: center;
    line-height: 60px;
    opacity: 0.6;
}

/*  /wishlist    */

/* button buy - cart */
.card .button-radius {
    position: relative;
    border: 1px solid #ffb424;
    padding: 1px;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin-left: 50%;
    color: #0c0d64;
    border-radius: 6px;
    transition: all 1s ease;
    font-size: 14px;
    text-decoration: none;
}
.card .button-radius:hover {
    padding-left: 20px;
    padding-right: 40px;
}
.card .button-radius .icon {
    transition: all 1s ease-out;
    position: absolute;
    top: 2px;
    margin-left: 28PX;
    overflow: hidden;
}
.card .button-radius:hover .icon {
    left: 100%;
    margin-left: -31px;
}
.card .btn-add-cart .icon:before {
    content: ' ';
    background-image: url("../images/cart-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.card .button-radius .icon:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #5a88ca;
    text-align: center;
    line-height: 26px;
    float: right;
    transition: all 1s ease-out;
}
.card .product-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.product-button .ico {
    float: left;
}

/* /button buy - cart */

/**** /KIDS&TOYS****/

/**comming soon section**/
.main-btn {
    background-color: transparent;
    border: 2px rgb(207, 92, 15);
    padding: 13px 30px;
    margin: 15px 0;
    font-size: 1rem;
    color: black;
    text-align: center;
    position: relative;
    z-index: 1;
}
.main-btn::before,
.main-btn::after {
    content: '';
}
.main-btn::before,
.main-btn::after,
.main-btn .first,
.main-btn .second {
    width: 25%;
    position: absolute;
    background-color: #E4811C;
    height: 0;
    transition: .4s;
}
.main-btn i {
    position: relative;
    z-index: 2;
}
.main-btn::before,
.main-btn .first {
    top: 0;
}
.main-btn::after,
.main-btn .second {
    bottom: 0;
}
.main-btn::before {
    left: 0;
}
.main-btn .first {
    left: 50%;
}
.main-btn .second {
    left: 75%;
}
.main-btn::after {
    left: 25%;
}
.main-btn:hover {
    border-color: #E4811C;
    transition: .4s;
    text-decoration: none;
}
.main-btn:hover::before,
.main-btn:hover::after,
.main-btn:hover span {
    height: 100%;
}
.content-left .seemore {
    padding-bottom: 10px;
}
.commingsoon .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.commingsoon .container {
    background-image: url(../images/coming1.png);
    background-attachment: fixed;
    margin-top: 50px;
}
.coming-photo {
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.commingsoon .content-left .coming-photo img {
    width: 100%;
}
.commingsoon .content-left .comming-photo .img {
    position: relative;
}
.commingsoon .content-left .coming-photo .circlescalephoto {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    background-color: transparent;
    z-index: -1;
    border: 4px solid #E4811C;
    transform: scale(.5);
    opacity: 1;
    animation: circlescale 1s infinite;
}
.commingsoon .content-left .coming-photo .icon {
    width: 70px;
    height: 70px;
    background-color: #E4811C;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    margin: -220px auto;
    position: relative;
    z-index: 2;
}
.commingsoon .content-left .coming-photo.icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    background-color: transparent;
    z-index: -1;
    border: 10px solid #E4811C;
    transform: scale(.5);
    opacity: .7;
    animation: circlescale 1.5s infinite;
}
@keyframes circlescale {
    0% {
        transform: scale(.5);
        opacity: 1;
    }
    
    50% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/** content right**/
.commingsoon .content-right .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.commingsoon .content-left,
.commingsoon .content-right,
.commingsoon .content-right .left,
.commingsoon .content-left .right {
    width: 47%;
}
.commingsoon .content-right .right {
    transform: translateY(-30PX);
}

/** /content right**/
.content-right .swiper-container .slider-arrow {
    color: #E4811C;
}
.content-right .swiper-container .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #E4811C;
}

/* /SLIDER */

/** /comming soon section**/

/**satisfied customer**/
.customer {
    padding-top: 50px;
}
.customer #cust-head {
    background-color: rgb(201, 198, 198);
}
.customer .sat-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.customer .sat-container .carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}
.carousel-control-next-icon:after {
    content: '>';
    font-size: 70px;
    color: #E4811C;
}
.carousel-control-prev-icon:after {
    content: '<';
    font-size: 70px;
    color: #E4811C;
}
.customer .sat-container .carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #E4811C;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.customer .sat-container .carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #E4811C;
}
.customer .sat-container .carousel-caption {
    color: black;
    font-size: 1.5rem;
}

/** / satisfied customer**/

/*****introduction video*****/
.intro-video #intro-head {
    margin-top: 20px;
    background-color: rgb(201, 198, 198);
}
.intro-video {
    padding-top: 50px;
}
.intro-video #intro-head {
    background-color: rgb(201, 198, 198);
}
.intro-video .video-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*****endintroduction video*****/

/* /populer-search */

/* /MAIN */

/* FOOTER */
footer {
    background-color: #282828;
    color: #E4811C;
}
footer ul {
    list-style-type: none;
}
footer ul li a {
    color: #E5E5E5;
    cursor: pointer;
}
footer ul li a:hover {
    color: #E4811C;
    text-decoration: none;
    cursor: pointer;
}
.footer-social-icon {
    color: #E5E5E5;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-social-icon a {
    color: #E4811C;
    font-size: 24px;
}
.footer-social-icon a:hover {
    color: #d87f26;
}

/* /FOOTER */